{$SITE_ADDRESS} {
	root * ./web
	try_files {path}.html
	file_server

	log {
        output file /var/log/caddy/caddy-access.log
	}

	# handle_path /art/api/thumbnail/* {
	# 	rewrite * /display?w=404&h=250&path={path}&op=thumbnail
	# 	reverse_proxy {$PICFIT_HOST}:3001
	# }

	# handle_path /art/api/fullhd/* {
	# 	rewrite * /display?w=1920&path={path}&op=resize
	# 	reverse_proxy {$PICFIT_HOST}:3001
	# }
}
